<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<body>
  <!-- login container -->
  <div class="login_container">
    <div class="login_text"><strong>LOGIN</strong></div>
    <form method="POST" action="/" class="login_boxes">
      <div class="username_tag">USERNAME<input class="username" name="user[username]" value="" type="text"></input></div>
      <div class="password_tag">PASSWORD<input class="password" name="user[password]" value="" type="password"></input></div>
      <button class="submit">SUBMIT</button></br>
    </form>
    <form action="http://localhost:3000/signup">
        <input class="sign_up" type="submit" value="SIGN UP">
    </form>
  </div>
</body>
</html>








