<html>
<head>
  <title>Shooting Gallery</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
  <link rel="shortcut icon" href="http://www.clipartbest.com/cliparts/jcx/Eee/jcxEeeKcE.png">
</head>
<body>
  <h1>SHOOTING GALLERY</h1>

    <div class="timer_box">
      <div class="time_text">TIME:</div>
      <div id="timer_div"></div>
    </div>

    <div id="countdown_div"></div>

    <div class="shooting_gallery" id="shuffle">
    </div>

    <div class="target_counter">Targets Left
      <hr class="break">
      <div class="target_countdown"></div>
    </div>

    <div class="winner">
      <div class="winner_box"></div>
    </div>
    <!-- <form method="get" action="/logout">
      <div class="logout_button">
        <button>Logout</button>
      </div>
    </form> -->
    <form>
        <input type="button" value="START" class="start_button"/>
    </form>
    <script type="text/javascript" src="javascripts/profile.js"></script>
</body>
</html>