<html>
<head>
  <title>main</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
</head>
<body>
  <h1>SHOOTING GALLERY</h1>
    <div id="timer_div"></div>
    <div class="shooting_gallery" id="shuffle">
    </div>
    <!-- <button>RESET</button> -->
    <!-- <form method="get" action="/logout">
      <div class="logout_button">
        <button>Logout</button>
      </div>
    </form> -->
    <form>
        <input type="button" value="START" class="start_button"/>
    </form>
    <script type="text/javascript" src="javascripts/profile.js"></script>
</body>
</html>