<html>
<head>
  <title>main</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
</head>
<body>
  <h1>SHOOTING GALLERY</h1>
    <div class="shooting_gallery" id="shuffle">
      <div class="target">
        <img class ="target1" src="http://www.cliparthut.com/clip-arts/88/bullseye-target-88907.png">
      </div>
      <div class="target">
        <img class ="target2" src="http://www.cliparthut.com/clip-arts/88/bullseye-target-88907.png">
      </div>
      <div class="target">
        <img class ="target3" src="http://www.cliparthut.com/clip-arts/88/bullseye-target-88907.png">
      </div>
      <div class="target">
        <img class ="target4" src="http://www.cliparthut.com/clip-arts/88/bullseye-target-88907.png">
      </div>
      <div class="target">
        <img class ="target5" src="http://www.cliparthut.com/clip-arts/88/bullseye-target-88907.png">
      </div>
      <div class="target">
        <img class ="target6" src="http://www.cliparthut.com/clip-arts/88/bullseye-target-88907.png">
      </div>
    </div>
    <!-- <button>RESET</button> -->
    <!-- <form method="get" action="/logout">
      <div>
        <button>Logout</button>
      </div>
    </form> -->
    <script type="text/javascript" src="javascripts/profile.js"></script>
</body>
</html>