h1 {
	font-family: vanilla whale;
	margin-left: 17%;
	font-size: 100px;
	margin-top: 1%;
	color: #A82310;
	font-outline: white;
	text-shadow:
		-3px -3px 0 black,  
	    3px -3px 0 black,
	    -3px 3px 0 black,
	    3px 3px 0 black;
}

body {
	background: url('http://bgfons.com/upload/wood_texture3835.jpg');
	background-repeat: repeat;
}

.shooting_gallery {
	background: url('http://www.artduck.com/images/animation/environment/dino_forest.jpg');
	background-position: center;
	border-radius: 20px;
	width: 70%;
	height: 70%;
	margin-left: 5%;
	margin-top: -5%;
	margin-bottom: 5%;
	border: 3px solid #A82310;
	position: relative;
}

.shooting_gallery:before {
	content: " ";
  	position: absolute;
  	z-index: -1;
  	border-radius: 20px;
  	top: -5px;
  	left: -5px;
  	right: -5px;
  	bottom: -5px;
  	border: 5px solid black;
}

#countdown_div {
	position: absolute;
	z-index: 1;
	font-size: 450px;
	font-family: vanilla whale;
	color: #A82310;
	margin-top: -7%;
	margin-left: 34%;
	text-align: center;
	text-shadow:
		-3px -3px 0 black,  
	    3px -3px 0 black,
	    -3px 3px 0 black,
	    3px 3px 0 black;
}

.start_button {
	position: absolute;
	z-index: 1;
	margin-top: -4%;
	color: black;
	font-size: 40px;
	border-radius: 10px;
	background-color: #A82310;
	margin-left: 35%;
	border: 2px solid black;
	font-family: vanilla whale;
}

.timer_box {
	height: 54px;
	width: 180px;
	border-radius: 10px;
	border: 2px solid black;
	position: absolute;
	z-index: 1;
	font-size: 40px;
	font-family: vanilla whale;
	background-color: #A82310;
	margin-top: 33.4%;
	margin-left: 15%;
}

.time_text {
	margin-top: 1.5%;
	margin-left: 3%;
}

#timer_div {
	z-index: 1;
	position: absolute;
	margin-left: 80%;
	color: black;
	margin-top: -25.5%; 
}

.scoreboard {
	position: absolute;
	z-index: 1;
	background-color: #A82310;
	width: 20%;
	height: 69%;
	margin-top: -42.5%;
	margin-left: 77%;
	border-radius: 10px;
	border: 3px solid black;
}



















