h1 {
	font-family: vanilla whale;
	text-align: center;
	font-size: 100px;
	margin-top: 2%;
	color: #A82310;
	font-outline: white;
	text-shadow: 2px 2px #ff0000;
}

body {
	background: url('http://bgfons.com/upload/wood_texture3835.jpg');
	background-repeat: repeat;
}

.shooting_gallery {
	background: url('http://www.artduck.com/images/animation/environment/dino_forest.jpg');
	background-position: center;
	border-radius: 20px;
	width: 70%;
	height: 70%;
	margin-left: 5%;
	margin-top: -5%;
	margin-bottom: 5%;
	border: 3px solid #A82310;
	position: relative;
}

#timer_div {
	position: absolute;
	z-index: 1;
	font-size: 450px;
	font-family: arial black;
	color: #A82310;
	margin-top: -9%;
	margin-left: 28%;
	text-align: center;
}

.start_button {
	position: absolute;
	z-index: 1;
	margin-top: -4%;
	color: #A82310;
	font-size: 40px;
	border-radius: 10px;
	background-color: white;
	margin-left: 36%;
	border: 2px solid #A82310;
	font-family: vanilla whale;
}





/*.target1 {
	width: 80px;
	height: 80px;
	margin-left: 5%;
	margin-top: 20%;
	position: absolute;
}

.target2 {
	width: 40px;
	height: 40px;
	margin-left: 20%;
	margin-top: 8%;
	position: absolute;
}

.target3 {
	width: 20px;
	height: 20px;
	margin-left: 50%;
	margin-top: 10%;
	position: absolute;
}

.target4 {
	width: 80px;
	height: 80px;
	margin-left: 75%;
	margin-top: 40%;
	position: absolute;
}

.target5 {
	width: 60px;
	height: 60px;
	margin-left: 60%;
	margin-top: 15%;
	position: absolute;
}

.target6 {
	width: 35px;
	height: 35px;
	margin-left: 40%;
	margin-top: 30%;
	position: absolute;
}*/







